<div class="header-chat">
  <div class="header-name">
    <%= @room.name %>
  </div>
  <div class="header-link">
   <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
  </div>
</div>

<div class="center-chat">
<%= render partial: 'message', collection: @messages %>
   <%# <%= render partial: 'message', collection: @messages %> %>
   <%# <div class="chat-main">
      <div class="top-name">
         <div class="chat-name">Tom</div>
         <div class="chat-date">2022/4/6 14:15</div>
      </div>
      <div class="chat-comment">おはよう</div>
   </div> %>
   <%# <div class="chat-main2">
      <div class="top-name2">
         <div class="chat-name2">judy</div>
         <div class="chat-date2">2022/4/6 14:16</div>
      </div>
      <div class="chat-comment2">こんばんは</div>
   </div>%>
</div>



<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信',class: 'form-submit' %>
<% end %>